//Colours
$fontColour: rgb(235, 235, 235);
$bgColour: #ffa07a;

.button {
    background-color: $bgColour;
    border: none;
    color: $fontColour;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
