@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans:wght@400;700&display=swap');

*{
    font-family: DM Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.bold{
    font-weight: bold;
}

h1{
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 80px;
}

h2{
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    word-break: break-all;
}

h3{
    font-family: Alfa Slab One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
}

h4{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

h5{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

p, li{
    font-family: DM Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.center-text{
    text-align: center;
}

.justify-text{
    text-align: justify;
}

//DESKTOP

@media only screen and (min-width: 1100px) {
    h2{
        font-family: Alfa Slab One;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 80px;

        word-break: normal;
    }

    h3{
        font-family: Alfa Slab One;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        word-break: break-all;
    }

    .nav__logo{
        h3{
            font-family: Alfa Slab One;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 48px;
        }
    }
}