.block-4__list__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.list__style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    padding: 5px 20px 0px 5px;
}

.block-6{
    &__list{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    color: map-get($colors, "text-soft-white")
    }
    
    &__list__item{
        padding-top: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .block-4
    
        &__list__item{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;
        }
}