.hero{
    &__image{
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/banner-bg.png"), no-repeat, center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
}


@media only screen and (min-width: 768px) {
    .hero__content{
        width: 35%;
    }
}